<form>
	<label>Enter your name:</label>
	<br>
	<input type="text" name="name">
	<br>
	<label>Enter your start place: (Miami | Ft. Lauderdale | Boyton | Homestead)</label>
	<br>
	<input type="text" name="start">
	<br>
	<label>Enter your destination: (Miami | Ft. Lauderdale | Boyton | Homestead)</label>
	<br>
	<input type="text" name="destination">
	<br>
	<label>Enter your time: (between 0 - 24)</label>
	<br>
	<input type="number" name="time">
	<br>
	<button type="submit" id="reservation-button">Submit</button>
</form>